{% extends 'base.twig' %}

{% block title %}
    SIGN-UP
{% endblock %}

{% block content %}

    <form data-cy="sign-up" action="{{ formAction }}" method="{{ formMethod }}" accept-charset="utf-8">
        <label for="email">Email:</label>
        <input data-cy="sign-up__email" type="text" id="email" name="email" value="{% if formData.email %}{{ formData.email }}{% endif %}">
        {% if formErrors.email %}
            <span data-cy="sign-up__wrongEmail" style="color: red;">{{ formErrors.email }}</span>
        {% endif %}
        
        <label for="password">Password:</label>
        <input data-cy="sign-up__password" type="password" id="password" name="password">
        {% if formErrors.password %}
            <span data-cy="sign-up__wrongPassword" style="color: red;">{{ formErrors.password }}</span>
        {% endif %}

        <label for="Repeat-password">Password:</label>
        <input data-cy="sign-up__repeatPassword" type="password" id="repeatPassword" name="repeatPassword">
        {% if formErrors.repeatPassword %}
            <span style="color: red;">{{ formErrors.repeatPassword }}</span>
        {% endif %}

        {% if exception %}
            <span style="color: red;">{{ exception }}</span>
        {% endif %}

        <input data-cy="sign-up__btn" type="submit" value="SIGN UP">

    </form>
    {#<a href="{{ url_for("home") }}">Home</a>#}
{% endblock %}
